* {
    margin:0;
    padding: 0;
}

header{
    height: 100px;
    background-color: #3a4044
}

.container-menu {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-menu>li {
    position: relative;
}

.container-menu>li:hover .container-sub-menu {
    max-height: 300px;
}

.container-menu>li ::after  {
    content: '';
    position: absolute ;
    height: 80%;
    width: 1px;
    background-color: #fff;
    right: -10px;
}

.container-menu>li:last-child::after{
    display: none;

}

.container-sub-menu {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    left: 10px;
    background-color: #fff;
    border-radius: 5px;
    transition: .5s;
}

ul{
    list-style-type: none;
}
 
.link-sub-menu {
    font-size: 18px;
    color: #3a4044;
}  

.link-menu:hover {
    color: #8f2929;
}

a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

div {
    width: 500px;
    height: 200px;
}

.container1 {
    background-color: red;
}

.container2 {
    background-color: blue;
}
.container3 {
    background-color: yellow;
}

@media (max-width: 600px) {
    .container2 {
        display: none;
    }
}

@media (min-width: 601px) { 
    div {
        width: 100vh;
    }
}